/* Import Bootstrap */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

.body {
  background-image: url('./assets/images/hero-bg.jpeg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Stack the elements vertically */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
}

.NavBar {
  background-color: rgb(30, 13, 61);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 53px; 
}

.logo {
  color: rgb(223, 223, 223);
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 10px;
  transition: .1;
}

.logo:hover{
  color: rgb(255, 255, 255);
  background-color: #3b3b3b;
  text-decoration: none;
}

.hero-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/images/hero-bg.jpeg');
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: grid;
  place-items: center;
  width: 40%;
}

h1, h2, .cool-button {
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

h1 {
  color:white;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: 400;
} 

/* Add custom styles to the button */
.cool-button {
  background: linear-gradient(to right, #ffc3a0, #ffafbd);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* Add hover effect to the button */
.cool-button:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}
